:root {
    --primary: #7ca3d6;
    --hover: #7ca3d6b3;
}
.brand-link {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 2rem;
}
.bg-inventory {
    background-color: var(--primary);
    color: #fff;
}

.sidebar-light-inventory .nav-sidebar > .nav-item > .nav-link.active {
    background-color: var(--primary);
    color: #fff;
}

.brand-link.text-sm .brand-image,
.text-sm .brand-link .brand-image {
    height: 33px;
}

.hr1 {
    background-color: var(--primary);
    height: 5px;
    margin-top: 2rem;
}

.hr2 {
    background-color: var(--primary);
    height: 2px;
    margin-bottom: 2rem;
    margin-top: 2px;
}
.bg-login {
    align-items: center;
    background-color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.login-box {
    z-index: 1;
}
.bg-login-logo {
    z-index: -1;
    margin-bottom: 1px;
    margin-left: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 453px;
    position: fixed;
    opacity: 1;
}

.btn-inventory {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: none;
}
.btn-inventory:hover {
    color: #fff;
    background-color: var(--hover);
    border-color: var(--hover);
    box-shadow: none;
}

.bg-inventory .navbar-nav .nav-link {
    color: #ffffff;
}

.nav-center {
    position: relative;
    left: 15%;
    padding-top: 0.5rem;
    margin-left: 4.5rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #fff0;
    border: 1px solid #fff;
    border-radius: 0.25rem;
}

.navbar-toggler .navbar-toggler-icon i {
    color: #fff;
}

.link-pos {
    margin-right: 2rem;
}

.active-link a {
    background-color: white;
    border-radius: 0.5rem;
    color: var(--primary) !important;
}

.nav-tabs .nav-link {
    color: grey;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: var(--primary);
    /* border-color: 2px solid var(--navy) var(--navy) ; */
    border-color: var(--primary);
}

.nav-tabs .nav-link:hover {
    color: white;
    background-color: var(--hover);
    /* border-color: 2px solid var(--navy) var(--navy) ; */
    border-color: var(--hover);
}

.nav-tabs {
    border-bottom: white;
    background-color: white;
    border-color: white;
}

.center {
    width: 150px;
    margin: 40px auto;
}

.order {
    background-color: #7ba4dd4d;
    padding: unset;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 86.8vh;
}

.order-title {
    background: #7ca3d680;
}

.order-title span {
    opacity: 1;
}

.detail-pesanan {
    height: 42vh;
    overflow: hidden;
}

.footer-pesanan {
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.customer {
    padding: 2rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media (max-width: 575.98px) {
    .customer {
        padding: 1rem;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

.detail-transaction {
    background-color: #7ba4dd4d;
    height: 86.8vh;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.logo-detail-transaction {
    margin-bottom: -7%;
    margin-left: 15%;
    left: 0;
    bottom: 0;
    width: 491px;
    height: 489px;
    position: fixed;
    opacity: 0.5;
}

@media (min-width: 992px) {
    .label-bordered {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid #ced4da;
        border-radius: 10px;
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .label-bordered {
        font-size: 14px;
        display: inline-block;
        padding: 0.15rem;
        border: 1px solid #ced4da;
        border-radius: 7px;
        width: 100%;
    }
}

.btn-soraba {
    color: #fff;
    background-color: #7aa4dd;
    border-color: #7aa4dd;
    box-shadow: none;
}

.item {
    margin: 10px 0;
}

@media (max-width: 767.98px) {
    .item-body {
        padding: 10px;
    }
    .item-body img {
        width: 70px;
        height: 70px;
    }

    .item-body dl dd {
        margin: 0;
    }

    .tab-content > .active {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item_bundling {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .item-body img {
        width: 100%;
        height: 100px;
    }
}

@media (max-width: 575.98px) {
    .label-delete {
        display: none;
    }
}

@media (min-width: 992px) {
    .shopping-cart-menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .main-header img {
        width: 230px;
    }
}

@media (max-width: 991.98px) {
    .main-header img {
        width: 150px;
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    content: "";
    background: 50% / 100% 100% no-repeat;
}

.login-box-msg {
    margin: 0;
    padding: 0;
    /* padding: 0 20px 20px; */
    text-align: center;
}

.navbar-expand-md .navbar-nav {
    flex-direction: row;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

@media (max-width: 991.98px) {
    .order {
        margin-top: -100px;
        background-color: #7ba4dd;
    }
}

@media (min-width: 768px) {
    .grand-total {
        background: white;
        padding-inline: 1rem;
        padding-top: 1.5rem;
    }

    #done {
        width: 360px;
        height: 60px;
        border-radius: 1rem;
    }
}

@media (max-width: 767.98px) {
    .content-header {
        padding: 0;
        margin-bottom: 5px;
    }

    .content-header h5 {
        font-size: 16px;
    }
    .content-header .btn-cancel {
        font-size: 14px;
    }
    #btn-lanjut,
    #done {
        background-color: #dc3545;
        color: #fff;
    }

    .detail-transaction {
        margin-top: -100px;
        background-color: #7ba4dd;
    }

    .detail-transaction .table thead th,
    .detail-transaction .table tbody td {
        border-top: 1px solid #dee2e6;
        font-size: 14px;
        padding: 0.5rem 0 0 0;
    }

    .grand-total {
        background: white;
        padding-inline: 1rem;
        padding-top: 0.5rem;
    }

    .grand-total dl {
        margin-bottom: 5px;
    }
    .grand-total dd {
        margin: 0;
    }
}
